
html {
    background-image: url(futurama.jpg);
}

.head {
  text-align: center;
  background-color: darkcyan;
}

 #phillip {
    height: 300px;
    width: 300px;
    margin-top: 100px;
    padding-left: 290px;
}

#turanga {
    height: 300px;
    width: 300px;
    padding-left: 190px;
}

#rodriguez {
    height: 300px;
    width: 300px;
    padding-left: 190px;
}

#support {
    display: block;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    font-weight: 10px;
}

#support:hover {
    color: rgba(0, 139, 139, 8);
}

#home {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: 10px;
    margin-top: 100px;
}
